<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python aplikacija</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <nav>
        <ul>
            <li><a class="active" href="/">Početna</a></li>
            <li><a href="/zagreb">Zagreb</a></li>
            <li><a href="/beli_manastir">Beli manastir</a></li>
            <li><a href="/barka">Barka</a></li>
        </ul>
    </nav>
    
    <img src="/static/img/Header.jpg" width="1535px" height="200px">


    {% block content %}
    {% endblock content %}


</body>
</html>